.action-link {
    color: #2952a8;
}
.action-link:hover {
    cursor: pointer;
    text-decoration: underline;
}
.list-action .action-link {
    margin-right: 5px;
}
.action-link.warning {
    color: #ff3a00;
}