.app-container {
    position: relative;
    height: 100vh;
}
.content {
    width: calc(100% - 200px);
    float: left;
    position: relative;
    min-height: 600px;
}
.app-container.mobile .content {
  width: 100%;
}
.logo-wrapper {
    width: 100%;
    text-align: center;
    position: relative;
}

.logo-wrapper img {
    width: 150px;
    align-content: center;
}

.login-form {
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.login-form .card {
    width: 100%;
    max-width: 400px;
    display: inline-block;
}

.login-form .card-title {

}

.login-form label {
    margin: 10px 0;
    float: left;
}
.logout-btn {
    float: right;
    width: 70px;
    height: 30px;
    padding: 0;
    margin: 5px 10px;
}

.login-wrapper .card-body {
    position: relative;
}
.spinner-wrapper {
    position: absolute;
    z-index: 999;
}
.spinner-mask {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
    z-index: 999;
}
.user-avatar {
    float: right;
    margin-right: 10px;
}
.user-avatar img {
    width: 40px;
    height: 40px;
    margin: 5px 0;
}
.content .data-list {
    margin: 10px;
}
.content .grid-action {
    margin: 10px;
}
.content button {
    margin-right: 5px;
    float: right;
    font-size: 14px;
    padding: 5px 8px
}
.content .dashboard-wrapper {
    width: calc(100% - 20px);
    margin: 10px auto auto auto;
    display: flex;
}
.content .dashboard-wrapper .dashboard-widget-tile {
    padding: 0;
}
.content .group-input {
    margin-top: 10px;
}
.mobile-menu {
  float: left;
  margin-right: 10px;
}

.mobile-menu img {
  width: 40px;
  height: 40px;
  margin: 5px 10px;
}
.mobile-menu:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
}
