* {
    font-size: 14px;
}
a {
    color:  #2952a8;
}

.app-container .fc .fc-button-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.app-container .fc .fc-button-primary:hover {
    background-color: #0e61dc;
    transition: background-color 0.2s;
}
