.crud-modal .react-datepicker__input-container input {
    width: 100%;
    border-radius: 0.25rem;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}