.crud-modal {
    position: absolute;
    top: calc(50% - 200px);
    width: 100%;
    height: 100%;
    left: 0;
    text-align: center;
}
.crud-modal .card-modal {
    max-width: 600px;
    display: inline-block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    z-index: 999;
}
.modal-mask {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
    z-index: 999;
}
.crud-modal label {
    text-align: left;
    width: 100%;
    font-size: 14px;
}
.crud-modal .form-action {
    float: right;
    margin-bottom: 10px;
}
.crud-modal .form-action button {
    margin-left: 5px;
    float: left;
}
.crud-modal .form-label {
  margin-top: 10px;
}
