.expand-row-wrapper {
  width: 100%;
}
.expand-block {

}
.expand-block-title {
  font-weight: 500;
  margin: 10px 0;
}
.expand-block-content {

}
.expand-row-wrapper textarea {
  margin: 10px 0;
}
.expand-row-wrapper button {
  margin: 10px 0;
}
