.footer {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 40px;
    /*background-color: #2e74c5;*/
    text-align: center;
    position: absolute;
    bottom: 0
}
.footer .copyright {
    color: white;
    font-size: 14px;
    background-color: #2952a8;
    padding: 2px 5px;
    border-radius: 5px;
    line-height: 20px;
    margin: 8px 0;
    display: inline-block;;
}
