.login-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: inline-block;
  background: rgb(23,81,144);
  background: linear-gradient(90deg, rgba(23,81,144,1) 0%, rgba(70,171,208,1) 0%, rgba(16,59,179,1) 100%);
}
.login-wrapper .error-bag {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
