.left-navigation {
    width: 200px;
    height: 100vh;
    background-color: #2952a8;
    position: relative;
    top: 0;
    float: left;
}
.left-navigation .logo-wrapper {
    padding: 10px;
}
.nav-item-list {
    margin-top: 30px;
}

.nav-item {
    width: 100%;
}

.nav-item a {
    font-size: 15px;
}

.nav-item:hover {
    background-color: #254a98;
    transition: background-color 0.2s;
}

.nav-item.active {

}

.nav-item a {
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 10px 25px;
    display: inline-block;
}

.nav-item a:hover {
    color: #c2c2c2;
}