.app-container.mobile .top-bar {
  width: 100%;
}
.top-bar {
    height: 50px;
    display: inline-block;
    width: calc(100% - 200px);
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 30px;
}
.topBar-dropdown {
    position: absolute !important;
    top: 60px;
    right: 10px;
    width: 150px;
    display: inline-block;
    z-index: 999;
}
.top-bar .user-avatar {

}
.top-bar .user-avatar:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}
.top-bar .topBar-user-info {
    text-align: center;
}
.top-bar .user-role {
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    padding: 0 5px;
    background-color: #a8a8a8;
    border-radius: 5px;
}
.top-bar .user-role.employee {
    background-color: #a8a8a8;
}
.top-bar .user-role.manager {
    background-color: #d52a3e;
}
.top-bar .btn-logout {
    margin-top: 20px;
    width: 100%;
    font-size: 14px;
    padding: 3px;
}
